@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    position: relative;
    background:linear-gradient(#251055, #c47fd4);
}

/* 메뉴바 */
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;    
    background-color: rgba(39, 12, 74, 0.5);
}
#logo
{
    height: 50px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 10px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
background: #fff;
color: #2b1055;
}

/* 첫 화면 */
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522,transparent);
    z-index: 1000;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon
{
    mix-blend-mode: screen;
}
section img#mountains_front
{
    z-index: 10;
}
#text
{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    right: -350px;
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
/* 스토리 소개란 */
.sec
{
    position: relative;
    padding: 100px;
    background: #1c0522;
    text-align: center;
    overflow: hidden;
}
.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec h3
{
    font-size: 1.8em;
    font-weight: 20;
    color: #fff;
}
#mascot
{
    position: relative;
    width: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* 캐릭터 소개란 */
.about
{
    padding: 100px;
    background: #120522;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.about h2
{
    font-size: 3.5em;
    color: #fff;
}

.about .swiper-container
{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.about .swiper-slide
{
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background: #fff
}
