@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

:root{
    --storybg: #1c0522;
    --aboutbg: #120522;
    --slide: #120522;
    --roadmapbg: rgb(204, 98, 98);
    --teambg: rgb(146, 215, 119);
}

/* 전체 */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
/* body */
body
{
    min-height: 100vh;
    position: relative;
    background:linear-gradient(#251055, #c47fd4);
}

/* 메뉴바 */
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;    
    background-color: rgba(39, 12, 74, 0.5);
}
#logo
{
    height: 50px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 10px;
} header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}

/* 시작 화면 */
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--storybg),transparent);
    z-index: 1000;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon
{
    mix-blend-mode: screen;
}
section img#mountains_front
{
    z-index: 10;
}
#text
{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    right: -350px;
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: var(--storybg);
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

/* 스토리 소개란 */
.sec
{
    padding: 100px;
    background: var(--storybg);
    text-align: center;
    overflow: hidden;
}
.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec h3
{
    font-size: 1.8em;
    font-weight: 20;
    color: #fff;
}
#mascot
{
    position: relative;
    width: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* 캐릭터 소개란 */
.about
{
    padding: 100px;
    background: var(--aboutbg);
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.about h2
{
    font-size: 3.5em;
    color: #fff;
}
    /* 각 슬라이드 설정 */
.about .swiper-slide:hover 
{
    cursor:pointer;
}

.about .swiper-slide .content
{
    color: var(--slide);
    text-align: center;
    margin-top: 45%;
}

.about .swiper-slide:active .content
{
    color: #f2eef8;
}

.about .swiper-slide
{
    background-position: center;
    background-size: cover;
    width: 240px;
    height: 240px;
    background: var(--slide);
}
    /* mbti */
.about .swiper-container1
{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    color: #fff
}
    /* v1 */
.about .swiper-container2
{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff
}

.about .face
{
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 210px;
    /* background: var(--slide); */
}
.about .face .content
{
    margin-top: 55%;
}

.about .hairs
{
    background-position: center;
    background-size: cover;
    width: 290px;
    height: 330px;
    /* background: var(--slide); */
}
.about .hairs .content
{
    margin-top: 35%;
}
.about .looks
{
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 185px;
}
.about .looks .content
{
    margin-top: 60%;
}
     /* 눈코입 각 이미지 */
.about .swiper-slide .look .peoplemove
{
    background: none;
} 
     /* 눈코입 제일 밑에 이미지 */
.about .swiper-slide .look .lookbase
{
    background: #f8e4c3;
    border-radius: 50%;
}
     /* mbti 각 슬라이드 */
.about .swiper-slide .mbti
{
    position: absolute;
    /* background: var(--slide); */
    width: 100%;
    height: 100%;

}

.about .swiper-slide:active .mbti
{
    top:20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background:#fefefe;
}
     /* v1 각 슬라이드 */
.about .swiper-slide .peoplemove
{
    position: absolute;
    /* background: var(--slide); */
    width: 100%;
    height: 100%;
}

.about .swiper-slide:active .peoplemove
{
    top:20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
     /* v2 이미지 */
.about .v2
{
    width: 200px;
    height: 210px;
}

/* 로드맵(roadmap) */
.roadmap
{
    padding: 100px;
    background: var(--roadmapbg);
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.team .h2
{
    font-size: 3.5em;
    color: #fff;
}

/* 팀소개(team) */
.team
{
    padding: 100px;
    background: var(--teambg);
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.team .h2
{
    font-size: 3.5em;
    color: #fff;
}